.jumbotron {
  padding-top: 6rem;
  background-color: hwb(330 69% 29%);
}

#Project {
  background-color: hwb(330 69% 29%);
}

section {
  padding-top: 4rem;
}

.no Hp h1{
  padding: 5px;
  margin: 5px;
}
